.left__projects a{
    color: var(--primari-color);
}

.left__projects :hover{
    color: var(--primari-color);
}

.container{
    position: relative;
}

.below__projects{
    margin-top: 50px;
}

.below__projects-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects-box__line{
    display: inline-flex;
    margin-bottom: 50px;
}

.projects-box__left{
    margin-right: 25px;
    flex: 1;
}

.box-left,
.box-right{
    position: relative;
}

.box-icon__research{
    position: absolute;
    right: 0;
    background-color: rgba(96, 96, 96,0.7);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.box-icon__research a{
    text-decoration: none;
    color: #FFFFFF;
}

.box-left__research img{
    position: relative;
    bottom: 0;
}

.projects-box__right{
    margin-left: 25px;
    flex: 1;
}

.box__img img{
    width: 100%;
}

.box__content{
    padding: 20px ;
    background-color: #F8F8F8;
}

.box__content h4{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.box__content p{
    font-size: 1.4rem;
    font-weight: 300;
}

/* information */

.information{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.information__box{
    display: contents;
}

.box-content{
    width: 50%;
    display: flex;
}

.content__img{
    padding: 50px 0;
    background-color: #000;
    position: relative;
}

.content__img i{
    position: absolute;
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
    top: 0;
    right: 0;
    margin: 5px 10px;
    cursor: pointer;
}

.content__img i .information{
    display: none;
}

.content__img img{
    width: 100%;
}

.content__information{
    background-color: #FFFFFF;
    padding: 20px;
}

.content__information h4{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2rem;
}

.content__information p{
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin: 10px 0;
}

.information__left{
    content: "";
    position: absolute;
    border-width: 30px;
    border-color: transparent #FFFFFF transparent transparent;
    border-style: solid;
    left: 0;
    cursor: pointer;
}

.information__right{
    content: "";
    position: absolute;
    border-width: 30px;
    border-color: transparent transparent transparent #FFFFFF;
    border-style: solid;
    right: 0;
    cursor: pointer;
}

